---
import Card from '../components/Card.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content={Astro.generator} />
	<title>Document</title>
</head>
<body>
<Card />
</body>
</html>

<style>
	body {
		background-color: #EAEFF1;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

</style>
